#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.to-do-list {
  padding: 0 20px;
  
}
.to-do-list fieldset {
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;

}
.to-do-list legend {
  font-size: 24px;
  margin-bottom: 10px;
}

.to-do-list input {
  padding: 10px;
  width: 200px;
  border: none;
  border-bottom: 2px solid #1a1a1a;
  font-size: 16px;
}
.to-do-list .add-button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background-color: #646cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.to-do-list .add-button:hover {
  background-color: #535bf2;
  border:2px solid white;
  color: #1a1a1a;
}
.to-do-list ol {
  list-style-type: none;
  padding: 0;
}
.to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.to-do-list li:last-child {
  border-bottom: none;
}
.to-do-list .delete-button {
  padding: 5px 10px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.to-do-list .delete-button:hover {
  background-color: #e04343;
  border:2px solid white;
  color: #1a1a1a;
}
.to-do-list .up-button {
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.to-do-list .up-button:hover {
  background-color: #45a049;
  border:2px solid white;
  color: #1a1a1a;
}
.to-do-list .down-button {
  padding: 5px 10px;
  border: none;
  background-color: #008CBA;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}
.to-do-list .down-button:hover {
  background-color: #007bb5;
  border:2px solid white;
  color: #1a1a1a;
}
* {
  box-sizing: border-box;
}



